.card{
    width: auto;
    max-width: 375px;
    height: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 10px -5px;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
}
.imgProduct{
    max-width: 147px;
    height: 147px;
}
.nombreProduct{
    font-size: 25px;
}